.adjust-button{
    width: 50%;
    margin: 0 30px;
}

.button-cadastrar-limpar{
    margin-top: 20px;
}

.button-listar{
    margin-top: 25px;
}

.button-cadastrar{
    margin-top: 25px;
    text-align: right;
}

.img-espaco{
    margin-left: 10px;
}

.msg-login{
    margin: 5px 0 -20px 0;
    text-align: center;
    color: red;
}

.img-responsivo{
    max-width: 80%;
}


.fundo-gradiente{
    background-image: linear-gradient(to left bottom, #3c8dbc, #347496, #2e5c72, #294451, #222d32);
}


/* Responsivo */

@media screen and (max-width: 479px) {
    .img-responsivo{
        max-width: 50%;
    }
}